.card {
    min-height: 110px;
    word-break: break-word;

    display: flex;
    flex-flow: column;
    cursor: move;

    .upside {
        background-color: #fff;
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
        display: flex;
        min-height: 30px;
        span {
            display: inline-block;
        }
        .icon {
            width: 20px;
        }
        .content {
            width: calc(100% - 45px);
        }
        button {
            height: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .downside {
        border-radius: 0px 0px 20px 20px;
        padding: 10px;
        padding-left: 30px;
        background-color: #fff;
        // margin-bottom: 20px;
        min-height: 20px;
    }
    .moving-card {
        // box-shadow: 0px 10px 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 40px 2px #ddd4d4;
    }
    .wrap {
        transition: ease 0.2s height;
        overflow: hidden;
    }

    transition: ease 0.2s opacity;
}

.clicked-card {
}

.moving-card {
    transform: scale(1.03);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #000;
}
