.container {
    width : 700px;
    outline : 1px solid #000;
    height: 700px;
}

.main {
    display: flex;
    height: calc(100% - 2em);
}
.column {
    outline: 1px solid #000;
    width: 100%;
    height: 100%;
}